<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MPV - Modelo de Predicción para Ventas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleabout.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="{{ url_for('static', filename='assets/logo2.png') }}" style="width: 80px; height: 80px;" alt="MPV Logo">
                <h1>MPV</h1>
            </div>
            <p class="titulo">Segmenta, Analiza y encuentra Oportunidades de Mercado.</p>
            <div class="user-info">
                <!--<p>Bienvenido, Raúl</p>-->
                <p id="mensajeBienvenida">Bienvenido, </p>
                <img src="{{ url_for('static', filename='assets/Iconopersona.webp') }}" style="width: 40px; height: 40px;" alt="User Icon">
            </div>   
        </header>
        
    
    <label for="sector">Seleccione un sector:</label>
    <select id="sector">
        <option value="Total comercio1">Total comercio</option>
        <option value="Total industria2">Total industria</option>
        <option value="H Correo y almacenamiento">Correo y almacenamiento</option>
        <option value="I1 Alojamiento">Alojamiento</option>
        <option value="I2 Servicios de comidas y bebidas">Servicios de comidas y bebidas</option>
        <!-- Agrega más sectores según el archivo JSON -->
    </select>
    
    <button onclick="obtenerPrediccion()">Obtener Predicción</button>
    
    <div id="resultado"></div>

    <section class="content">
        <div class="table-container">
            <!-- Aquí puedes incrustar la tabla HTML o generar dinámicamente con datos -->
            <img src="table-image.png" alt="Tabla de datos">
        </div>
    </section>
</div>
<div class="social-media">
    <a href="#"><img src="{{ url_for('static', filename='assets/facebook.webp') }}" style="width: 50px; height: 50px;" alt="Facebook"></a>
    <a href="#"><img src="{{ url_for('static', filename='assets/instagram.webp') }}" style="width: 50px; height: 50px;" alt="Instagram"></a>
    <a href="#"><img src="{{ url_for('static', filename='assets/youtube.webp') }}" style="width: 50px; height: 50px;" alt="YouTube"></a>
    <a href="#"><img src="{{ url_for('static', filename='assets/Gmail.webp') }}" style="width: 50px; height: 50px;" alt="Email"></a>
</div>
<footer>
    <p>Copyright © 2024 | MPV - Modelo de Predicción para Ventas | Bogotá - Colombia | 
        <a  href="#">Política de Privacidad</a> | 
        <a  href="#">Términos y Condiciones</a> | 
        <a  href="#">Política de Cookies</a>
    </p>
</footer>

    <script>
            // Función para obtener datos desde una API de ejemplo y desde nuestro backend en Flask
            axios.get('https://jsonplaceholder.typicode.com/posts')
            .then(response => {
                console.log('Datos obtenidos de jsonplaceholder:', response.data);
            })
            .catch(error => {
                console.error('Error al obtener datos de jsonplaceholder', error);
            });

        // Función para obtener la predicción del servidor Flask
        async function obtenerPrediccion() {
            const sector = document.getElementById('sector').value;
            try {
                //const response = await axios.get(`http://localhost:5000/prediccion?sector=${sector}`); // este es para local
                const response = await axios.get(/prediccion?sector=${sector}); // render
                document.getElementById('resultado').innerHTML = `<img src="data:image/png;base64,${response.data.grafico}" alt="Predicción gráfica"/>`;
            } catch (error) {
                console.error('Error al obtener la predicción', error);
                document.getElementById('resultado').innerHTML = 'Error al obtener la predicción';
            }
            console.log(sector);
        }
    </script>
</body>
</html>
